.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

.btn {
  border-radius: 10px;
  border: none;
  padding: 0.625rem;
  margin-top: 1em;
}

.btn:hover {
  background-color: #006400;
  color: #ffffff;
  font-weight: bold;
}

.length {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-right: 1em;
  text-align: left;
  font-family: serif;
}

#info {
  font-family: serif;
  font-size: 0.8em;
}

#length {
  font-family: serif;
  vertical-align: middle;
}

#width {
  font-family: serif;
}

#height {
  font-family: serif;
}

.width {
  margin-bottom: 1em;
  text-align: left;
}

input {
  border-radius: 0.3125rem;
  width: 3rem;
  height: 3rem;
  margin-bottom: 1.125rem;
}
